.react-tangle-input {
  border:0;
  -webkit-appearance:none;
  text-align:left;
  cursor:col-resize;
  font:inherit;
  border-bottom:2px dotted #88f;
  display:inline;
  width:30px;
  color: #88f;
}

.react-tangle-input:focus {
  cursor:text;
}
